* {
    font-family: 'Montserrat', sans-serif;
}
body {
    background-color: black;
}
#navMenu {
    width: auto;
    height: 50px;
    display: flex;
    justify-content: space-around;
    margin-left: 40px;
    margin-right: 40px;
    background-color: whitesmoke;
    border-radius: 9px;
}
#navMenu li {
    list-style: none;
    display: inline-block;
}
a {
    text-decoration: none;
    color: #4F5766;
}
#navMenu img {
    width: 44px;
    height: 44px;
    padding-top: 3px;
}
.aNav {
    padding-top: 15px;
}
.infoPart {
    background-repeat: no-repeat;
    width: 1080px;
    height: 500px;
    margin: 0 auto;
    border-radius: 9px;
    margin-bottom: 20px;
}
#htmlDesc {
    color: whitesmoke;
    padding: 60px 0px 0px 60px;
}
#cssDesc, #comingDesc  {
    float: right;
    color: whitesmoke;
    padding: 60px 50px 0px 0px;
}
#gitDesc {
    color: black;
    padding: 60px 0px 0px 60px;
}
#htmlDesc, #cssDesc, #gitDesc, #comingDesc  {
    width: 300px;
    height: 200px;
}
#htmlDesc h2, #cssDesc h2, #gitDesc h2, #comingDesc h2  {
    text-transform: uppercase;
    margin-bottom: 50px;
}
#htmlDesc p, #cssDesc p, #gitDesc p, #comingDesc p {
    text-align: justify;
}
#htmlDesc a, #cssDesc a, #comingDesc a {
    color: whitesmoke;
}
#gitDesc a {
    color: black;
}
#htmlDesc a:hover, #cssDesc a:hover, #gitDesc a:hover, #comingDesc a:hover  {
    color: #4F5766;
}

 /*-----------------------------------------------------autresPages---------------------------*/
 .commonSection {
    background-color: whitesmoke;
    width: 1500px;
    margin: 0 auto;
    border-radius: 7px;
    padding-bottom: 50px;
 }
 #schemaMarges {
    max-width: 100%;
    width: 500px;
    height: 387px;
    margin: 0 auto 10px;
 }
 .commonSection h1 {
     margin-left:  auto;
     margin-right: auto;
     text-align: center;
     text-transform: uppercase;
     padding: 40px 0px 30px 0px;
     font-size: 40px;
     width: 600px;
     border-bottom: 1px solid #4F5766;
 }
 .commonSection h2 {
    text-transform: uppercase;
    border-bottom: 1px solid #4F5766;
    text-align: center;
    font-size: 20px;
    margin-left:  auto;
     margin-right: auto;
    width: 200px;
    padding-bottom: 10px;
}
#commonNotes, #commonLinks {
    margin-left: 60px;
    margin-right: 60px;
}
#commonNotes li {
    list-style: none;
    margin-bottom: 10px;
}
#commonNotes p, fieldset {
    text-align: justify;
    margin: 0 auto 10px;
    width: 900px;
}
.linksContent {
    margin: 0 auto;
    width: 900px;
    height: 400px;
}
.linkDesign {
    text-align: center;
    width: 33.33333%;
    height: 200px;
    float: left;
}
.linkDesign a:hover {
    color: #4fd1d6;
}
.linkDesign img {
    width: 64px;
    height: 64px;
}
.linkDesign h3 {
    font-size: 18px;
 }
 .linkDesign p {
    font-size: 14px;
 }
 fieldset {
     border-radius: 3px;
 }
 .grey{
    background-color: #dddbdb;
    border-radius: 3px;
 }
/*-----------------------------------------------------@media---------------------------*/
@media only screen and (max-width:800px) {
    .commonSection {
        height: auto;
        width: 540px;
 }
    #commonNotes p {
        width: 300px;
 }
    fieldset {
        width: 400px;
 }
    .commonSection h1 {
        width: 400px;
 }
    .infoPart {
        height: 250px;
        width: 540px;
        background-size: 540px 250px;
}
    #htmlDesc, #gitDesc {
        width: 150px;
        height: 100px;
        font-size: 11px;
            padding: 10px 0px 0px 30px;
}
    #cssDesc, #comingDesc {
        padding: 10px 23px 0px 0px;
        width: 150px;
        height: 100px;
        font-size: 11px;
}
    #htmlDesc h2, #cssDesc h2, #gitDesc h2, #comingDesc h2 {
     margin-bottom: 10px;
}
    .linksContent {
        width: 400px;
}
    .linkDesign p, .linkDesign h3 {
        font-size: 12px;
}
#commonNotes img {
    max-width: 100%;
}
}